[Desktop Entry]
Categories=Science
Comment=A Chemical Calculator
Exec=chemcalc
GenericName=Chemical Calculator
Icon=chemcalc_icon_120.svg
Name=ChemCalc
NoDisplay=false
StartupNotify=true
Terminal=0
TryExec=chemcalc
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
#####################
# Testing number 001
# On my linux computer this file is located at:
# /usr/share/applications/chemcalc.desktop
